* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    font-size: 16px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#resultado {
    margin-top: 20px;
}

#resultado h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}


#resultado p {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px; /* Maior espaçamento entre linhas */
}

#resultado p strong {
    font-weight: bold;
    color: #333;
    margin-right: 10px; /* Espaço entre o rótulo e o valor */
}

.cep-info p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adiciona espaçamento extra em torno do resultado */
#resultado {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
